analysis/models.html

data/data_for_models.RDS

*.[Rr][Dd][Aa][Tt][Aa]
*.[Rr][Dd][Ss]
*.[Hh][Tt][Mm][Ll]
*.[Pp][Dd][Ff]

.Rhistory
.DS_Store

*.csv
*.sav

.Rproj.user/
.Rproj.user

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

/rsconnect/
